body{
    padding: 0;
    margin: 0;
    font-family: "Work Sans",sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: #757575;
    background-color: #fff;
    width: 100%;
}
header {
    font-family: "Work Sans",sans-serif;
    position: relative;
    text-align: left;
    max-width: max-content;
    height: 40px;
    background-color: #0f2b4a;
    color: #ffffff;
    padding-left: 1cm;
    max-width: 100%;
}
nav {
    max-width: 100%;
    height: 40px;
}
div.h1{
    display: inline;
    position: relative;

}
img.telephono {
    display: inline;
    align-items:flex-end;
    padding-left: 670px;
}
img.todos{
    display: inline;
    align-items: center;
    padding-top: 1px;
}
div.div1 {
    display: flex;
    position: fixed;
    align-items: center;
    background-color: white;
    color: #0f2b4a;
    font-size: 1rem;
    font-weight: 2.5rem;
    width: 100%;
}
div.div2{
    display: flex;
    align-items: right;
    padding-left: 20cm;

}
button {
    display:fixed;
    background-color: #fff;
    border: #fff;
    color: #0f2b4a;
    align-items: center;
    cursor: pointer;
    font-weight: lighter;
    font-weight: 750;
    padding-left: 5px;
    margin-left: 5px;
}
button.gstart {
    display: inline;
    background-color: #F3BD00;
    border-color: #F3BD00;
    text-align: center;
    color: #fff;
    height: 55px;
    width: 3cm;
    align-items:center;
}
div.drivin {
    display: flex;
    align-items: flex-end;
    font-size: 32px;
    border-right: 5px solid block !important;

}
div.sec {
    display: flex;
}
div.muié1 {
    display: fixed;
    background-blend-mode: soft-light;
    background: url(bild/muié1.jpg);
    background-color: rgb(0, 0, 0, 0.70 );
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
    height: 600px;
    width: 100%;
}
p.learn-to-drive {
    display: flex;
    border: cover;
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
    padding-top: 5cm;
    padding-left: 5cm;
}
button.learn{
    display: relative;
    background-color:#F3BD00;
    color:#fff;
    border: #F3BD00;
    font-weight: 500;
    cursor: pointer;
    height: 3rem;
    position: relative;
    left:5cm;
    padding: 15px 30px 15px 30px;
    margin-right: 5px;

}
button.ourcor{
    background-color: #fff;
    color: #000000;
    border: none;
    font-weight: 500;
    cursor: pointer;
    height: 3rem;
    position: relative;
    left: 5cm;
    padding: 15px 30px 15px 30px;
}

section.flexbox{
    display: flex;
    padding-top: 5cm;
    justify-content: center;
    align-items: center;
    
}
div.p1{
    display: block;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
div.p2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
}
h6.why{
    display: flex;
    color:#F3BD00;
    border: none;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    font-size: 1rem;
}
div.bestd{
    display: flex;
    color: #102c4b; 
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    font-size: 1.5rem;
    font-weight: 700;    
}

span.blockquote{
    display: grid;
    color: #757575;
    font-size: 1rem;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 10px;
}

div.fully {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #102c4b;
    font-size: 1.25rem;
    font-weight: 700;
    flex-wrap: wrap;
    box-sizing: border-box;
}
div.online{
    display: flex;
    color: #102c4b;
    font-size: 1.25rem;
    font-weight: 700;
    flex-wrap: wrap;
    box-sizing: border-box;

}
div.afordable{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #102c4b;
    font-size: 1.25rem;
    font-weight: 700;
    flex-wrap: wrap;
    box-sizing: border-box;

}
div.best{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #102c4b;
    font-size: 1.25rem;
    font-weight: 700;
    flex-wrap: wrap;
    box-sizing: border-box;

} 

div.principal{  
    display: flex;
    background:url(bild/muié2.jpg) no-repeat;
    position: static;
    background-size: cover;
    box-sizing: content-box;
    height: 500px;
    width: 300px;
    padding-right: 5cm;
    
}
 img.doisdoente{ 
    display: flex;
    box-sizing: border-box;
    background:no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 10px 1px #fff;

 }
/* section.pateta{
    display: flex;
    box-sizing: border-box;
} */

sup.meet{
    display: flex;
    position: relative;
    left: 670px;
    color:#F3BD00;
    border: none;
    align-items: center;
    font-size: 1rem;
    margin-top: -50px;
}
h1.we-have{
    display: flex;
    box-sizing: border-box;
    align-items: center;
    clear: none;
    color: #102c4b;
    font-size: 2rem;
    font-weight: 700;
    position: relative;
    left:610px;
}
h1.experience{
    color: #102c4b;
    box-sizing: border-box;
    align-items: center;
    clear: none;
    font-size: 2rem;
    font-weight: 700;
    position: relative;
    left: 570px;
    margin-bottom: 1.5rem;
} 